<!--Side Bar Information-->
    <aside class="side_bar">
       <ul class="menu_list">
          <li><a class="active" href="/"><i class="fa fa-home"> Home</i></a></li>
          <li><a href="/categories"><i class="fa fa-clone"> Categories</i></a></li>
          <li><a href="/contact"><i class="fa fa-phone"> Contact</i></a></li>
          <li><a href="/about"><i class="fa fa-align-justify"> About</i></a></li>
       </ul>
    </aside>
